<div style="margin-top: 25px;" class="container-md">

    <table class="table animated jackInTheBox">
        <thead class="thead-dark">
            <tr>
                 <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th style="text-align: center"scope="col">UID</th>
                <th scope="col">Fecha de Entrada</th>
                <!--             <th scope="col">Apellido</th>
            <th scope="col">Fecha de Creación</th>
            <th scope="col">Acciones</th> -->

            </tr>
        </thead>
        <tbody>
            {{#each entrance}}
            <tr>
                <th>{{this.name}}</th>
                <th>{{this.lastname}}</th>
                <th style="text-align: center" class="" scope="row">{{this.uid}}</th>
                <td>{{momenthelper timestamps}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>