<br>
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">Control de Accesos con Arduino</h1>
        <p class="lead">Bienvenido al sistema de control de accesos</p>
        <hr class="my-4">
        <p>El ultimo usuario en entrar ha sido: <b> {{entranceStored.name}} {{entranceStored.lastname}} ({{entranceStored.uid}})</b> </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/see/uid" role="button">Mira quién ha sido</a>
        </p>
    </div>
</div>
{{>navegacion}}