<br>
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">Control de Accesos con Arduino</h1>
        <p class="lead">Bienvenido al sistema de control de accesos</p>
        <hr class="my-4">
        <p>Este sistema hace uso de NodeJS, MongoDB, de un sistema RFID con Arduino y unas cuantas librerías más.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Mira el código</a>
        </p>
    </div>
</div>
{{>navegacion}}