<div class="container-fluid">
<h3>Funciones del sistema</h3>
<a href="/new/uid/" type="button" class="btn btn-primary">Añade un usuario (UID)</a>
<a href="/see/uid" type="button" class="btn btn-primary">Mira los usuarios</a>


</div>